<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" name="Miguel Angulo Martínez">
        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
      
    </head>
    <body>
        <header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex6-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ViverSoft</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if login %}
                        <li><a href="{{ urlFor('logout')}}">Salir</a></li>
                    {% else %}
                        <li><a href="{{ urlFor('login') }}">Entrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </header>
        <div class="container">
        {%if login %}
            <section>
            <nav>
                <ol class="breadcrumb">
                    <li><a href="{{ urlFor('frontpage') }}">Home</a></li>
                    {% for section in navigation %}
                    {% endfor %}
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            </nav>
            </section>
            <section>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="dropdown menu col-lg-9 col-md-9 col-xs-9">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a tabindex="-1" href="{{ urlFor('employeeList') }}">GESTION DE EMPLEADOS</a></li>
                        <li><a tabindex="-1" href="{{ urlFor('userList')}}">GESTION DE USUARIOS</a></li>
                        <li><a class="dropdown-toggle" data-toggle="dropdown" href="/ejemplar">GESTION DE EJEMPLARES</a>
                            <ul class="dropdown-menu">
                                <li><a href=#>Listado de Ejemplares</a></li>
                                <li><a href=#>Entrega lote libros a un alumno</a></li>
                                <li><a href=#>Alta de Ejemplares</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8">
                    {% block content %}
                    {% endblock %}
                </div> 
            </div>
            </section>
            {%else%}
            <section>
                <div class="row">
                {%block content1 %}
                {% endblock %}
                </div>
            </section>
        {% endif %}  
        </div>
        <div class="modal fade" id="box-modal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% block modal_title %}<!-- Aqui va el titulo de la pagina modal --> {% endblock %}</h4>
                    </div>
                    <div class="modal-body">
                    {% block modal_body %} 
                    <!--Aqui va el cuerpo de la página modal -->
                    {% endblock %}   
                    </div>
                    <div class="modal-footer">
                    {% block modal_footer %}
                    <!-- Aquí va el pie de la pagina modal -->
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script src="/libs/jquery/jquery-1.11.1.min.js"></script>
        <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        {% block modal_foot %}
        {% endblock %}      
    </body>
</html>

