{% extends 'base.html.twig' %}
{% block title %}Gestion de empleados{% endblock %} 
{% block content %}
{% set Puestos=['Jefe','Empleado','Comercial'] %}
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3>Gestion de empleados</h3>
        </div>
    <div class="panel panel-body">
        {% if flash['error'] %}
            {% for error in flash['error'] %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}     
    <fieldset>
            <legend>Editar empleado</legend>
        <form role="form" action="{{ urlFor('updateEmployee', {'id': empleado['idempleado']}) }}" onsubmit="return validar(this,fieldsEmployee);" class="form-horizontal" method="POST">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputnie">Nie de empleado</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputnie" name="inputnie" value="{{empleado['nieempleado']}}" class="form-control" required type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputname">Nombre de empleado</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputname" name="inputname" value="{{empleado['nombre']}}" class="form-control" required type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputsurname">1er apellido</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputsurname" name="inputsurname" value="{{empleado['apellido1']}}" class="form-control" required type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputsurname1">2do apellido</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputsurname1" name="inputsurname1" value="{{empleado['apellido2']}}" class="form-control" required type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputemai1">Email</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputemail" name="inputemail" value="{{ empleado['emailemp'] }}" class="form-control" required type="email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="inputphone">Telefono</label>
                <div class="col-md-5 col-xs-5">
                    <input id="inputphone" name="inputphone" value="{{ empleado['telefono'] }}" class="form-control" type="text" />
                </div>
            </div>
             <div class="form-group">
                 <label class="col-md-4 col-xs-4 control-label" for="selectpuesto">Seleccione puesto:</label>
                <div class="col-md-5 col-xs-5">
                    <select name="selectpuesto">  
                        <option value="-1">Seleccione un puesto</option>
                        {% for i, puesto in Puestos %}
                            <option value="{{ i }}"{%if puesto == Puestos[empleado['puesto']] %} selected="true" {%endif%}>{{ puesto }} </option>
                       {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="selectusuario">Seleccione usuario: </label>
                <div class="col-md-5 col-xs-5">
                    <select name="selectusuario">
                        <option value='-1'>Seleccione un usuario</option>
                        {% for i, usuario in usuarios %}
                            <option value="{{ usuario['id'] }}"{%if usuario['id'] == empleado['usuario_idusuario'] %} selected="true" {% endif %}> {{ usuario['id'] }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" id="update" name="update" class="btn btn-success large">Modificar</button>
            </div>
        </form>
    </fieldset>
    </div>
    </div>
<script type="text/javascript">
var fieldsEmployee = ['','Nif Empleado','Nombre empleado','1er apellido','2do apellido','Email','Telefono','Puesto empleado','# Usuario'];
window.onload = function()
{
    document.getElementById('inputphone').addEventListener('blur',function(){
    valor=this.value; 
    if(valor.length!==0)
    {
        comprobarTelefono(valor)?bien(this):mal(this);
    }
});
</script>
{% endblock %}


