<div class="panel-body">
       {% if flash['info'] %}
           <div class="alert alert-danger">{{flash['info']}}</div>
       {%endif%}
        <form role="form" class="form-horizontal">
        <h2>Deseo que envien:</h2>
        {% if productos %}
        <table class="table table-striped table-reponsive table-bordered">
            <thead>
                <tr>
                    <th># Producto</th>
                    <th>Nombre producto</th>
                    <th>Descripcion</th>
                    <th>Precio unitario</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
                {% for producto in productos %}
                {% set subtotal = producto.precioVenta * cantidad[loop.index-1] %}
                {% set total = total + cantidad[loop.index-1] %}
                <tr>
                    <td class="text-center">{{ producto.id }}</td>
                    <td class="text-center">{{ producto.nombre_producto }}</td>
                    <td class="text-center">{{ producto.descripcion }}</td>
                    <td class="text-center">{{ producto.precioVenta }}</td>
                    <td class="text-center"><input type="number" name="inputcantidad" min="1" max="999" value="{{ cantidad[loop.index-1] }}" /></td>
                    <td class="text-center">{{ subtotal | round(2,'floor') }}</td>
                </tr>
                {% endfor %}   
            </tbody>
            <tfooter>
                <tr colspan="4">
                    <td class="style-strong1">Total:</td>
                    <td>{{ total | round(2,'floor') }}<span>&euro;</span></td>
                </tr>
            </tfooter>
        </table>
      {% else %}
          <div class="alert alert-info">No hay productos en el carrito que mostrar</div>
      {% endif %}
      </form>
</div>


